.quantity{
  margin-left: 20px;
}


.minus, .plus{
  margin: 5px;
  padding: 4px 8px ;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgb(214, 214, 214);
  transition: 0.3s;
}

.minus:hover{
  background: rgb(194, 36, 36);
  color: white;
}

.plus:hover{
  background:rgb(16, 153, 16);
  color: white;
}

.digit{
  display: inline-block;
  width: 40px;
  text-align: center;
}

.price{
  width: 180px;
}

.small-img{
  display: flex;
}

.small-img img{
  width: 200px;
  transition: 1s;
}

.right-arrow{
  margin-left: 30px;
  color: rgb(116, 116, 116);
  cursor: pointer;
  transition: 0.3s;
}

.right-arrow:hover{
  color:rgb(68, 68, 68);
}